.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  gap: 20px;
}

.container {
  border: 1px solid #000;
  padding: 15px 30px;
  display: flex;
  min-height: 30lvh;
  gap: 30px;
}

.container-light {
  background: linear-gradient(to bottom, transparent, #eee) #ccc;
  color: #000;
}

.container-dark {
  background: linear-gradient(to bottom, transparent, #313131) #15161e;
  color: #fff;
}

.content {
  display: grid;
  grid-template-rows: 70px repeat(3, 40px);
  height: max-content;
  margin-top: auto;
  margin-bottom: auto;
}
